<div class="profile-container">
  <mat-card class="profile-picture">
    <div class="profile-picture-container">
      <img
        [src]="userProfile()?.avatar || '/assets/images/avatar.png'"
        alt="User Avatar"
        class="profile-avatar"
      />
      <div
        class="profile-picture-container-badge"
        *ngIf="userProfile()?.isVerified"
      >
        <mat-icon>verified</mat-icon>
      </div>
    </div>
    <div class="text-lg">
      {{ userProfile()?.username }}
    </div>
    <button mat-stroked-button (click)="openEditModal()">
      <mat-icon>edit</mat-icon>
      Edit Profile
    </button>
  </mat-card>

  <mat-card class="profile-info">
    <mat-card-header class="profile-info-header">
      <mat-card-title>Profile Info</mat-card-title>
      <mat-divider></mat-divider>
    </mat-card-header>

    <mat-card-content>
      <div class="profile-info-row">
        <div class="profile-info-row-item">
          <mat-icon class="detail-icon">person</mat-icon>
          <div>
            <label class="text-sm text-light">Username</label>
            <div class="text-base text-semibold">
              {{ userProfile()?.username }}
            </div>
          </div>
        </div>
        <div class="profile-info-row-item">
          <mat-icon class="detail-icon">email</mat-icon>
          <div>
            <label class="text-sm text-light">Email</label>
            <div class="text-base text-semibold">
              {{ userProfile()?.email }}
            </div>
          </div>
        </div>
      </div>
      <div class="profile-info-row">
        <div class="profile-info-row-item">
          <mat-icon class="detail-icon">phone</mat-icon>
          <div>
            <label class="text-sm text-light">Phone</label>
            <div class="text-base text-semibold">
              {{ userProfile()?.phone }}
            </div>
          </div>
        </div>
        <div class="profile-info-row-item">
          <mat-icon class="detail-icon">cake</mat-icon>
          <div>
            <label class="text-sm text-light">Birthday</label>
            <div class="text-base text-semibold">
              {{ userProfile()?.birthDate | date : "shortDate" }}
            </div>
          </div>
        </div>
      </div>
      <div class="profile-info-row">
        <div class="profile-info-row-item">
          <mat-icon class="detail-icon">location_on</mat-icon>
          <div>
            <label class="text-sm text-light">Country</label>
            <div class="text-base text-semibold">
              {{ userProfile()?.country?.name }}
            </div>
          </div>
        </div>
        <div class="profile-info-row-item">
          <mat-icon class="detail-icon">language</mat-icon>
          <div>
            <label class="text-sm text-light">Website</label>
            <div class="text-base text-semibold">
              {{ userProfile()?.website }}
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
